body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the navbar is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul.nav-right {
    display: none; /* Hide the menus initially */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px; /* Adjust this value based on the navbar height */
    right: 50px;
    width: 200px;
}

nav ul li {
    display: block;
    text-align: right;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #211;
}

.hamburger-menu {
    position: relative;
    right: 24px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.menu-toggle {
    display: none; /* Hide the checkbox */
}

.container {
    display: flex;
    flex: 1;
    margin-top: 50px; /* Adjust this value based on the navbar height */
}

.sidemenu {
    width: 200px;
    background-color: #f8f8f8;
    padding: 10px;
    position: fixed;
    top: 75px; /* Adjust this value based on the navbar height */
    left: 15px;
    overflow-y: auto;
}



.profile {
    display: block;
    width: 170px;
    height: 170px;
    background-color: #f8f8f8;
    padding: 10px;
    position: fixed;
}

.sidemenu img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the image to cover the entire link box */
}

.connections {
    width: 200px;
    background-color: #f8f8f8;
    padding: 10px;
    position: fixed;
    top: 535px; /* Adjust this value based on the navbar height */
    left: 15px;
    height: 335px; /* Adjust this value based on the navbar height */
    overflow-y: auto;
}

.label {
    display: block;
    text-align: right;
    background-color: #333;
    color: #e0e0e0;
    padding-bottom: 2px;
}

.footer {
    display: block;
    text-align: right;
    padding-top: 10px;
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 10px; /* Space between grid items */
}

.link-grid a {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 25px;
    width: 25px;
}

.link-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale the image to cover the entire link box */
}

.link-grid a:hover {
    background-color: #e0e0e0;
}

.sidemenu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidemenu ul li {
    margin-bottom: 10px;
    display: contents;
}

.sidemenu ul li a {
    text-decoration: none;
    color: #333;
}

.sidemenu ul li a:hover {
    text-decoration: underline;
}

.sidemenu h3 {
    margin-top: 20px;
    color: #333;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 220px; /* Adjust this value based on the sidebar width */
    margin-top: 50px; /* Adjust this value based on the navbar height */
    overflow-y: auto;
}

/* Toggle the menus when the checkbox is checked */
.menu-toggle:checked ~ .nav-right {
    display: flex;
}

#tube {
    width: 80%;
    margin: 0 auto;
}

.item {
    padding: 20px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}
