{{define "connections"}}
<aside>
    <div class="label">
        Connections
    </div>
    <div class="link-grid">
        <a href="/section1"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section2"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section3"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section1"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section2"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section3"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section1"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section2"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section3"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section1"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section2"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section3"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section1"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section2"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
        <a href="/section3"><img src="/static/img/blank-avatar-icon.png" alt="Profile"></a>
    </div>
    <div class="footer">
        100 connections
    </div>
</aside>
{{end}}