html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: white;
    color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        width: 100%;
        background-color: black;
        color: white;
    }
}